body{
    max-width: 960px;
    margin:auto;
}

main{
    margin: 0 3vh;
}

img{
    width: 100%;
}

.div-img{
    width: 80%;
    margin: auto;
}
.div-img1{
    min-width: 30%;
}

.div-img2{
    min-width: 50%;
}
nav{
    display: flex;
    background: #c0c0c0;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 3vh;
    font-family: sans-serif;
}

.nav-link{
    width: 25%;
    border: 0.3vh solid black;
    text-align: center
}

.main-picture h1{
    font-family: sans-serif;
    font-size: 1.8rem;
    text-align: center;
}

.main-content{
    display: flex; 
    justify-content:space-between;
    align-items:center;
    margin-top: 3vh;
    }

.main-content p{
    font-family: sans-serif;
    font-size: 1.8vh;
    padding-right: 8vh;
}

#events{
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
}

.events1-news p, .events2-news p{
    font-family: sans-serif;
    font-size: 1.5vw;
    margin:0 2vh 2vh 0;
}

.events1-news{
    margin: 0 1vh 0 0;
}

.events2-news{
    margin: 0 0 0 1vh;
}

.events, .events-news1{
    display: flex;
}

.links-info h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 1.3rem;
}

#links{
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 0
}

.links{
    display: flex;
    justify-content: space-around;
}

.link a{
    color: black;
    font-family: sans-serif;
    font-size: 2vw;
}

.link a:hover{
    color:red;
}

.link{
    text-align: center;
    width: 15%;
}

#contacts{
    text-align: center;
}

.label{
    font-family: sans-serif;
    font-size: 1rem;
}

table{
    margin: auto
}

footer{
    font-size: 1rem;
    margin: 3vh 0 3vh 3vh;
}

#submit{
    text-align: center;
    margin-left:50%;
}