body{
    max-width: 960px;
    margin: auto;
}

.main-content img, .events img, .links img{
    max-width: 30vh;
}

.main-img{
    max-width: 120vh;
}

nav{
    display: flex;
    background: grey;
}

nav a {
    color: black;
    text-decoration: none;
    font-size: 2rem;
    font-family: sans-serif;
}

.nav-link{
    width: 25%;
    border: 0.3vh solid black;
    text-align: center
}

.main-picture h1{
    font-family: sans-serif;
    font-size: 2rem;
}

.main-picture{
   text-align: center;
}

.main-content{
    display: flex; 
    justify-content:space-between;
    align-items:center;
    margin-top: 3vh;
    }

.main-content p{
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 8vh;
}

#events{
    font-family: sans-serif;
    font-size: 2rem;
    text-align: center;
}

.events1-news p, .events2-news p{
    font-family: sans-serif;
    font-size: 0.8rem;
    margin:0 5vh 5vh 0;
}

.events1-news{
    margin: 0 3vh 0 0;
}

.events2-news{
    margin: 0 0 0 3vh;
}

.events, .events-news1{
    display: flex;
}

.links-info h2{
    text-align: center;
    font-family: sans-serif;
    font-size: 1rem;
}

#links{
    text-align: center;
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 0
}

.links{
    display: flex;
    justify-content: space-around;
}

.link a{
    color: black;
    font-family: sans-serif;
    font-size: 1rem;
    text-decoration: none;
}
.link{
    text-align: center
}

.form{
    text-align: center;
}

.label{
    font-family: sans-serif;
    font-size: 1rem;
}

table{
    margin: auto
}

footer{
    font-size: 1rem;
    margin: 3vh 0 3vh 3vh;
}